#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}
.about_content {
  width: 100rem;
  /* background-color: yellowgreen; */
}
/* Video */
.trailer_vid {
  /* background-color: wheat; */
  min-height: 25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  width: 90%;
  aspect-ratio: 16/9;
}
/* Team */
.team {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  min-height: 30rem;
  /* background-color: rgb(200, 0, 255); */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pers {
  margin: 2rem;
  max-height: 15rem;
  max-width: 25rem;
  aspect-ratio: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pers img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 100%;

  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.pers img:hover {
  filter: grayscale(0%);
}
