/* animation for images */
@keyframes pan-image-1 {
  0% {
    background-position: 0% 0%;
  }
  60% {
    background-position: 15% 86%;
  }
  60.0001% {
    background-position: 33% 52%;
  }
  80% {
    background-position: 10% 90%;
  }
  80.0001% {
    background-position: 77% 38%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes pan-image-2 {
  2% {
    background-position: 0% 0%;
  }
  62% {
    background-position: 15% 86%;
  }
  62.0001% {
    background-position: 33% 52%;
  }
  82% {
    background-position: 10% 90%;
  }
  82.0001% {
    background-position: 77% 38%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes pan-image-3 {
  10% {
    background-position: 0% 0%;
  }
  64% {
    background-position: 15% 86%;
  }
  64.0001% {
    background-position: 33% 52%;
  }
  84% {
    background-position: 10% 90%;
  }
  84.0001% {
    background-position: 77% 38%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* animation for lines */
@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}
