@import url("https://use.typekit.net/cnu5shu.css");

h1 {
  font-family: "ff-cocon-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--textColor);
}

p,
a,
li,
h2 {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--textColor);
}

/* Title */
.title {
  text-align: center;
  padding: 5rem;
  font-size: xx-large;
  font-family: "ff-cocon-pro", sans-serif;
}

/* Title */
.game_title {
  text-align: center;
  font-size: large;
  font-family: "ff-cocon-pro", sans-serif;
}
