.inner-hero {
  z-index: 1;
  position: absolute;
  text-align: center;
}

#hero h1 {
  font-size: clamp(1rem, 1rem + 8.333vw, 10rem);
}
#hero h2 {
  color: #fff;
  padding-bottom: 30px;
}

.playBtn {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  padding: 2% 50px;
  border-radius: 500px;
}
.playBtn:hover {
  color: var(--primaryColor);
}

.quizBtn {
  background-color: var(--secondaryColor);
  color: var(--textColor);
  padding: 2% 50px;
  border-radius: 500px;
}

.quizBtn:hover {
  color: var(--accentColor);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  display: flex;
  overflow: hidden;
  height: 100vh;
  scroll-snap-type: x mandatory;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: center;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}
