#hero {
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-image: url("/img/bg/background_ge.png");
  background-size: cover;
  background-position: center 1%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero h1 {
  font-size: clamp(1rem, 1rem + 8.333vw, 10rem);
  color: var(--textColor);
}
