#play {
  min-height: 50vh;
  display: flex;
  justify-content: center;
}
.play_content {
  width: 100rem;
}
.game-screens {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}

.screen {
  width: 250px;
  border: 3px solid var(--primaryColor);
  aspect-ratio: 10/16;
  border-radius: 9px;
  background-color: rgba(104, 217, 140, 0.75);
  overflow: hidden;
  position: relative;
  margin: 2rem;
}
.screen:hover {
  transform: scale(107%);
}
.screen > .screen-image-1 {
  position: absolute;
  background-image: url("../img/play/log.png");
  background-size: 250%;
  height: 100%;
  width: 100%;

  filter: sepia(100%) hue-rotate(67deg);
  opacity: 0.6;

  animation: pan-image-1 15s linear infinite;
}
.screen > .screen-image-2 {
  position: absolute;
  background-image: url("../img/play/d.png");
  background-size: 250%;
  height: 100%;
  width: 100%;

  filter: sepia(100%) hue-rotate(67deg);
  opacity: 0.6;

  animation: pan-image-2 15s linear infinite;
}
.screen > .screen-image-3 {
  position: absolute;
  background-image: url("../img/play/y.png");
  background-size: 250%;
  height: 100%;
  width: 100%;

  filter: sepia(100%) hue-rotate(67deg);
  opacity: 0.6;

  animation: pan-image-3 15s linear infinite;
}

.screen-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background: linear-gradient(
    rgba(104, 217, 140, 0.88),
    rgba(104, 217, 140, 0.88) 2px,
    transparent 3px,
    transparent 6px
  );
  height: 100%;
  width: 100%;
  background-size: 100% 9px;

  animation: pan-overlay 22s infinite linear;
}
