#play {
  min-height: 50vh;
  display: flex;
  justify-content: center;
}
.play_content {
  width: 100rem;
}
.game-screens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.screen {
  width: 250px;
  border: 3px solid var(--primaryColor);
  aspect-ratio: 10/16;
  border-radius: 9px;
  background-color: rgba(104, 217, 140, 0.75);
  overflow: hidden;
  position: relative;
  margin: 2rem;
}

.screen > .screen-image {
  position: absolute;

  background-image: url(../img/play/log.png);
  background-size: 250%;
  height: 100%;
  width: 100%;

  filter: sepia(100%) hue-rotate(67deg);
  opacity: 0.6;

  animation: pan-image 15s linear infinite;
}

.screen-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background: linear-gradient(
    rgba(104, 217, 140, 0.88),
    rgba(104, 217, 140, 0.88) 2px,
    transparent 3px,
    transparent 6px
  );
  height: 100%;
  width: 100%;
  background-size: 100% 9px;

  animation: pan-overlay 22s infinite linear;
}
/* animation for image */
@keyframes pan-image {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 15% 86%;
  }
  40% {
    background-position: 33% 52%;
  }
  60% {
    background-position: 10% 90%;
  }
  80% {
    background-position: 77% 38%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* animation for lines */
@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}
