@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "about.css";
@import "play.css";
@import "quiz.css";
@import "footer.css";
@import "animations.css";

:root:not(.dark) {
  --textColor: #000000;
  --backgroundColor: #ffffff;
  --secondbackgroundColor: #f6f6f6;
  --primaryColor: #47cf73;
  --secondaryColor: #cccccc;
  --accentColor: #fee858;
  --headerColor: #f4f4f4;
}
:root.dark {
  --textColor: #ffffff;
  --backgroundColor: #131417;
  --secondbackgroundColor: #24262e;
  --primaryColor: #47cf73;
  --secondaryColor: #2f3139;
  --accentColor: #fee858;
  --headerColor: #101010;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3em;

  transition: background-color ease-out 0.2s;
}
body {
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}
