@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "about.css";
@import "play.css";
@import "quiz.css";
@import "footer.css";

:root {
  --textColor: #ffffff;
  --backgroundColor: #131417;
  --primaryColor: #47cf73;
  --secondaryColor: #2f3139;
  --accentColor: #fee858;
  --headerColor: #101010;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3em;
}
body {
  background-color: var(--backgroundColor);
}
